@import './variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include page-padding();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__link {
    font-size: $sp-sm;
    cursor: pointer;
  }

  h1 {
    width: 80%;
  }
}

.background {
  z-index: -100;
}

.timeline {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 46px;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 60px;
    width: 2px;
    height: 100%;
    background-color: #fff;
  }
}

.back {
  font-size: $sp-sm;
  cursor: pointer;
  position: fixed;
  bottom: $sp-md;
  right: $sp-xl;
  font-weight: 600;
  z-index: 300;
}

.milestone {
  padding: $sp-lg $sp-sm $sp-lg 8.4rem;
  max-width: 30rem;
  position: relative;
  font-size: 16px;
  z-index: 20;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 56px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    transform: translateY(-50%);
  }

  &__year {
    font-weight: bold;
  }
}

.intro {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: relative;

  h1 {
    font-size: 8rem;
    grid-column: 1 / span 5;
    @include md {
      grid-column: 1 / span 12;
      font-size: 14rem;
      width: 80%;
    }
  }

  &__sketch {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    mix-blend-mode: soft-light;
    height: 100%;
  }
}

.spacer {
  height: 200vh;
}

.grid {
  img, video {
    width: 100%;
  }

  p {
    font-size: 1.6rem;
    margin-top: 4px;
  }
}

.small-right {
  grid-column: 3 / span 2;
  width: 100%;
  z-index: 60;
  @include md {
    grid-column: 10 / span 3;
  }
}

.small-right--inset {
  grid-column: 3 / span 2;
  width: 100%;
  z-index: 60;
  @include md {
    grid-column: 9 / span 3;
  }
}

.small-middle {
  grid-column: 2 / span 2;
  width: 100%;
  z-index: 60;
  @include md {
    grid-column: 7 / span 3;
  }
}

.add-padding {
  img {
    margin-bottom: $sp-sm;
  }
}

.small-left {
  grid-column: 1 / span 2;
  width: 100%;
  z-index: 60;
  @include md {
    grid-column: 3 / span 3;
  }
}

.small-left--inset {
  grid-column: 1 / span 2;
  width: 100%;
  z-index: 60;
  @include md {
    grid-column: 4 / span 3;
  }
}

.med-left {
  grid-column: 1 / span 4;
  width: 100%;
  z-index: 20;
  @include md {
    grid-column: 3 / span 5;
  }
}

.med-left--inset {
  grid-column: 1 / span 4;
  width: 100%;
  z-index: 20;
  @include md {
    grid-column: 4 / span 5;
  }
}

.med-right {
  grid-column: 2 / span 4;
  width: 100%;
  z-index: 20;
  @include md {
    grid-column: 8 / span 5;
  }
}

.med-right--inset {
  grid-column: 1 / span 4;
  width: 100%;
  z-index: 20;
  @include md {
    grid-column: 6 / span 6;
  }
}

.large-left {
  grid-column: 1 / span 5;
  width: 100%;
  z-index: 10;
  @include md {
    grid-column: 3 / span 8;
  }
}

.large-right {
  grid-column: 1 / span 5;
  width: 100%;
  z-index: 10;
  @include md {
    grid-column: 5 / span 8;
  }
}

.modal {
  height: 100%;
  width: 100%;
  background-color: $black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  color: $white;

  .grid {
    height: 100%;
    max-height: 100vh;
    align-items: center;
  }

  &__cross {
    cursor: pointer;
    position: absolute;
    right: $sp-xl;
    font-size: 24px;
    top: $sp-md;
  }

  &__inner {
    grid-column: 1 / span 6;

    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  &__about {
    grid-column: 2 / span 10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: $sp-sm; 
    height: fit-content;

    @include md {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: $sp-lg; 
    }

    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    &--left {
      grid-column: 2 / span 5;
    }
    &--right {
      grid-column: 7 / span 5;
    }
  }

  form {
    grid-column: 7 / span 6;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: center;
    height: fit-content;
  }

  label {
    margin-bottom: $sp-sm;
  }

  input, textarea {
    padding: 1.6rem 0.8rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    margin-bottom: 2.4rem;
  }

  button {
    width: fit-content;
    font-size: 1.8rem;
    padding: 1.6rem 4rem;
    background-color: transparent;
    border: 1px solid white;
    color: $white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }

  button:hover {
    background-color: $white;
    color: $black
  }

  &--open {
    display: block;
  }

  &--closed {
    display: none;
  }
}

.two-col-one {
  grid-column: 1 / span 2;
  width: 100%;
  z-index: 20;
  @include md {
    grid-column: 3 / span 5;
  }
}

.two-col-one--inset {
  grid-column: 2 / span 2;
  width: 100%;
  z-index: 20;
  @include md {
    grid-column: 4 / span 4;
  }
}

.two-col-two {
  grid-column: 3 / span 2;
  width: 100%;
  z-index: 20;
  @include md {
    grid-column: 8 / span 5;
  }
}

.two-col-two--inset {
  grid-column: 2 / span 2;
  width: 100%;
  z-index: 20;
  @include md {
    grid-column: 8 / span 4;
  }
}

.grid:last-of-type {
  margin-bottom: 0;
  @include md {
    margin-bottom: 0;
  }

  video {
    margin-bottom: $sp-xl;
  }
}